#include "c:\masm32\include\resource.h"
#define IDC_Edit  100

DebugDlg  DIALOG 100,0,50,200
STYLE     DS_SETFONT|WS_VISIBLE|WS_OVERLAPPEDWINDOW
FONT      9,"Arial"
BEGIN
EDITTEXT IDC_Edit,0,0,300,300,ES_READONLY|ES_MULTILINE|WS_HSCROLL|
         WS_VSCROLL|ES_AUTOHSCROLL|ES_AUTOVSCROLL
END